@import "tailwindcss";


/* html {
  font-size: 6.3px;
  /* mobile */
/* }

@media (min-width: 640px) {
  html {
    font-size: 16px;
  }

  /* desktop */
/* }

@media (min-width: 1536px) {
  html {
    font-size: 22.5px;
  } */

  /* large screens */


/* body{
    background: linear-gradient(to right, #DDDEE0 80%, #F3F0EB 20%);

} */
/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */